#titulo{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(102, 53, 21); 
    padding: 20px;
    color: white;
    display: inline-block;
    

}
body{ text-align: center;}

.square{
    width: 100px;
    height: 100px;
    background-color: burlywood ;
    border: 1px solid gray;
    display: inline-block;
}
body{
    background-image: url(./background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.o{
    position: relative;

}
.o::after{
    content: "\2660";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 90px;
    line-height: 100px;
}
.x{
    position: relative;

}
.x::after{
    content: "\2666";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 90px;
    line-height: 100px;
}
#reset{
    color: white;
    background-color: rgb(102, 53, 21);
    margin-top: 25px;
    height: 40px;
    width: 310px;
    border: burlywood;
    border-style: double;
    font-family: Arial, Helvetica, sans-serif;
    
}
footer{
    color: burlywood;
    display: flex;
    flex-flow: row-reverse;
   align-content: flex-end;
    margin-top: 200px;
}